<%- include ../Partials/header.ejs %>

<%- include ../Partials/main_nav.ejs %>
  
<body style="background-color: darkgrey ; color: black;">
  <!-- Main Content -->
  <main class="container" style="background-color: grey ; width:750px">
    <div class="row">
 <!-- <a class="navbar-brand" href="/"> <img src="Assets\images\logo.jpeg" width="110" height="60"></a> -->
            <h1>Buisiness Contact List</h1><br><br>
            <% if(typeof displayName == 'string' && displayName) { %>
             <a href="/book-list/add" class="btn btn-primary" role="button">
             <i class= "fas fa-plus-circle"></i> Add a new Contact</a>

         <% } %>

            <br>
            <br>
            <table class="table table-bordered table-striped table-hover" style="width: 750px ;">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-3">Contact Name</th>
                    <th class="text-center col-3">Contact Number</th>
                    <th class="text-center col-3">Email Address</th>
                 <% if(typeof displayName == 'string' && displayName) { %>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"></th>

                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BookList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-3"><%= BookList[count].name %></td>
                        <td class="text-center col-3"><%= BookList[count].author %></td>
                        <td class="text-center col-3"><%= BookList[count].published %></td>

                   <% if(typeof displayName == 'string' && displayName) { %>
                    <td class="text-center col-2">
                    <a href="/book-list/edit/<%= BookList[count]._id %>" class="btn btn-primary btn-sm">
                    <i class= "fas fa-pencil-alt"></i> Update </a>
                    </td>

                    <td class="text-center col-2">
                    <a href="/book-list/delete/<%= BookList[count]._id %>" class="btn btn-danger btn-sm">
                    <i class= "fas fa-trash-alt"></i> Delete </a>
                    </td>
                   <% } %>
                    </tr>
                <% } %>
            </table>
            <img src="/Assets/images/list.png" style="height: 250px; ; width: 700px; float: left;">
            

    </div>
  </main>
</body>
<%- include ../Partials/bottom_nav.ejs %>  

<%- include ../Partials/footer.ejs %>
  




    