<%- include Partials/header.ejs%>


<%- include Partials/main_nav.ejs%>
 
<main class="container">
 
     <h1 class="display-4">Welcome to the <%= title %> page</h1><br><br><br>





    <div class = "row">
        <div id="Bio" class="col-12 col-lg-6 text-center">
            <img src="/Assets/images/Mypic.jpg" class="img-fluid">

        </div>
        <div id="more" class="col-12 col-lg-6">
               <br><br><br>

            <h5> My name is Muhammad Farhan Sohail. I am from Pakistan. I was born and raised in Sargodha, Pakistan. Currently, I am a student at centennial college and studying software engineering technology. I like to travel. I believe traveling gives you a new perspective on everything. You get to know a lot about the different cultures, the cuisines, history, the language, and all the small unique things every place has to offer.</h5>
             
             <a href="/Assets/Resume1.docx" class="btn btn-primary"> My Resume </a>



        </div>

    </div>


  
</main>



<%- include Partials/bottom_nav.ejs%>

<%- include Partials/footer.ejs%> 