<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>


 <main class="container">
 
     <h1 class="display-4">Welcome to the <%= title %> page</h1><br><br><br>
  
      <h3>Contact Form</h3>

     <div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Address" aria-label="First Name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Phone#" aria-label="Last Name">
  </div>
</div>

<br>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Email" aria-label="First Name">
  </div>
  </div>
<br>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Comments" aria-label="First Name">
  </div>
<br><br><br>
               <a href="/home" class="btn btn-primary"> Submit</a>


</main>
  

  




<%- include Partials/bottom_nav.ejs %>
<%- include Partials/footer.ejs %>

 


  