<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>
 


 <main class="container">
 
     <h1 class="display-4">Welcome to the <%= title %> page</h1><br><br><br>

   <div class = "row">
        <div id="Bio" class="col-12 col-lg-6 text-center">
           
           <ol>
                

                    <li>Last semester, I finished a short project that can be used as a component in the creation of a professional  dealership car company website. This website is a dealership car website that I created. To create the website, I used the html, css, and javascript languages, as well as a json file to import the images.</li>
                    <br><br><br>
                    <li>We were given an assignment last semester to create a bug smasher game website. When a user clicks on a defect in this project, the score increases by 5, and the speed of bug relocation increases with each click. We used html, css, javascript, and jquery in our short game.</li>
                                        <br><br><br><br><br><br>

                 <li>I created a picture gallery that the viewer can navigate through using the next and previous buttons. The photos will be automatically changed without the user pressing the next and previous buttons, and we may update the images with the update button.</li>

            </ol>

        </div>

        <div id="more" class="col-12 col-lg-6">

                        <img src="/Assets/images/dealership.png" class="img-fluid" width="300" height="300">
                        <br><br><br>
                        <img src="/Assets/images/game.png" class="img-fluid" width="300" height="300">
                                                <br><br><br>

                        <img src="/Assets/images/gallery.jpeg" class="img-fluid" width="300" height="300">




</div>






  
</main>
  

 



<%- include Partials/bottom_nav.ejs %>
<%- include Partials/footer.ejs %>