<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>

<main class="container">
 
     <h1 class="display-4">Welcome to the <%= title %> page</h1><br><br><br>

   <div class = "row">
        <div id="Bio" class="col-12 col-lg-6 text-center">
            <h4>I can provide you!</h4>

                        <img src="/Assets/images/IT.jpg" class="img-fluid">

          

        </div>

        <div id="more" class="col-12 col-lg-6">
            <h2>Services</h2>
            <ul>
                

                    <li>Web Application development</li>
                    <li>Mobile Application development</li>
                    <li>Data storage and management</li>
                    <li>Data Backup service</li>
                    <li>Social Media Consulting</li>
                    <li>Email Marketing Services</li>


            </ul>

</div>

  
</main>
   




<%- include Partials/bottom_nav.ejs %>
<%- include Partials/footer.ejs %> 

 