<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<body style="background-color: darkgrey ; color: black;">
<main class="container" style="background-color: grey ;">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <div class="row">
        
            <h1 style="text-align: center;">You have to login if you want to make changes</h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                  <br>
                  <br>
                
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter your username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter your password"
                    id="password" required>
                    or if you don't have an account 
                    <a href="/register">Register Here</a>
                </fieldset>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>

            </form>
            <img src="/Assets/images/login.png" style="height: 350px; ; width: 1000px; float: left;">

        
    </div>

</main>
</body>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>