<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<body style="background-color: darkgrey ; color: black;">
<main class="container" style="background-color: grey ;">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <div class="row">
            <h1 style="text-align:center">Enter the required information to register</h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                <br>
                <br>
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter your username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter your password"
                    id="password" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control"
                    name="email" placeholder="Enter your Email Address"
                    id="email" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="displayName">Display Name: </label>
                    <input type="text" class="form-control"
                    name="displayName" placeholder="Enter your Display Name"
                    id="displayName" required>
                </fieldset>
                <br>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Register">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>

            </form>
            <img src="/Assets/images/register.webp" style="height: 250px; ; width: 1000px; float: left;">
        
    </div>


</main>
</body>




<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>